.titled-pane {
    -fx-animated: true;
    -fx-text-fill: #f4f5f7;
}

.titled-pane > .title  {
    -fx-background-radius: 0, 0, 0;
    -fx-font: bold 14px System;
    
    -fx-background-color: ladder(
            red,
            black 20%,
            derive(#d0d0d0,-30%) 30%
        );
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: #606060;
}

/* 
.button {
	-fx-background-radius: 0;
}
*/

/*
.text-field {
	-fx-background-radius: 0;
}
*/

/* 
.check-box .box {
	-fx-background-radius: 0;
}
*/

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #BDBDBD;
}

/*
.tab-header-area .tab{
    -fx-background-radius: 0 0 0 0;
 }
 */
 
 /*
 .tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-focus-color: transparent}
 */
 
 /*
 .combo-box {
	-fx-background-radius: 0;
}

.dialog-pane > .button {
	-fx-background-radius: 0;
}
*/